/* inicial */


body {
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
  margin: 0;
}
.titulo-parallax{
  font-size: 3rem;
}
.servicos-section {
  background-size: cover;
  padding: 60px 0;
}

.section-titulo {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.border {
  width: 160px;
  height: 2px;
  background: black;
  margin: 40px auto;
}

.servicos-container,.projetos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.servico-box ,.projetos-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.servico-icon, .projetos-icon {
  display: inline-block;
  border: 3px solid black;
  color: black;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}

.projetos-icon{
  border: 3px solid white;
  color: white; 
}
.servico-icon i, .projetos-icon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 33px;
}

.servico-box:hover .servico-icon {
  background: black;
  color: #ddd;
}


.servico-titulo {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.servico-desc {
  font-size: 16px;
}

.projetos-destaques {
  font-weight: bolder;
  color: white;
  padding:60px;
}

.texto {
  text-align: center;
  font-size: 1.5rem;
}
.sobre-section{
  width:100%;
  background: whitesmoke;
  padding:40px 0;
}

.interior-width{
  padding: 0 20px;
  margin: auto;
}

.sobre-section h1{
  text-align: center;  
}


.sobre-section-linha{
  display:flex;
  flex-wrap: wrap;
}

.sobre-section-coluna{
  flex:100%;
  margin: 10px 0; 
  
}
.sobre{
  padding-right: 30px;
  padding:0;
}
.sobre p{
  text-align: justify;
  margin-bottom: 20px;
}
.embed{
  position:relative;
  width:100%;
  padding-bottom: 56.25%;
}
.embed iframe{
  position: absolute;
  width:100%;
  height: 100%;
  border:none;
}

.progress-bar span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color:white;
  font-size:12px;
}

@media screen and (min-width:700px){


 
@media screen and (min-width: 960px ) {
  .servico-box {
    max-width: 45%;
  }
  .titulo-parallax{
    font-size: 5rem;
  }
  .sub-parallax{
    font-size:1.2rem;
  }

  
}

@media screen and (min-width: 700px) {
  .sobre-section-coluna{
    flex:50%;
}

.video{
    padding-left:30px;
}

}
}

@media screen and (max-width: 480px) {
  .servico-box {
    max-width: 100%;
  }
}
